alabaster==0.7.12
amqp==2.4.2
argh==0.26.2
Babel==2.6.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
construct==2.5.3
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
decorator==4.4.0
defusedxml==0.6.0
Django==2.1.7
django-allauth==0.39.1
django-appconf==1.0.3
django-haystack==2.8.1
django-imagekit==4.0.2
django-pure-pagination==0.3.0
django-redis==4.10.0
djangorestframework==3.9.2
djangorestframework-stubs==0.1.0
DjangoUeditor==1.8.143
docutils==0.14
drf-haystack==1.8.4
elasticsearch==6.3.1
emoji==0.5.1
entrypoints==0.3
Envelopes==0.4
flake8==3.7.7
Flask==1.1.2
future==0.17.1
h5py==2.10.0
httpie==1.0.2
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlab==0.5
itchat==1.3.10
itsdangerous==1.1.0
itypes==1.1.0
jieba==0.39
Jinja2==2.11.3
joblib==0.15.0
kafka==1.3.5
kombu==4.4.0
livereload==2.6.0
lxml==4.3.1
Markdown==3.0.1
MarkupSafe==1.1.0
mccabe==0.6.1
memory-profiler==0.55.0
MyQR==2.3.1
networkx==2.3
ninja==1.9.0
numpy==1.20.1
oauthlib==3.0.1
otpauth==1.0.1
packaging==18.0
pathtools==0.1.2
pefile==2018.8.8
pilkit==2.0
Pillow==8.1.2
pipenv==2018.11.26
port-for==0.3.1
psutil==5.6.3
psycopg2==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pymongo==3.8.0
PyMySQL==0.9.3
pyparsing==2.3.0
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.0
python-docx==0.8.10
python-ptrace==0.9.3
python3-openid==3.1.0
pytz==2018.9
pywin32==224
PyYAML==5.1
raven==6.10.0
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.2.0
scikit-learn==0.23.0
scipy==1.4.1
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
threadpoolctl==2.0.0
tornado==5.1.1
typed-ast==1.3.5
uritemplate==3.0.0
urllib3==1.24.1
user-agent==0.1.9
vine==1.2.0
virtualenv==16.1.0
virtualenv-clone==0.5.1
watchdog==0.9.0
Werkzeug==1.0.1
Whoosh==2.7.4
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
